@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Montserrat:ital,wght@0,800;1,600;1,900&family=Raleway:ital,wght@0,300;1,500&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, serif;
    font-weight: 300;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 6fr 1fr;
}

nav {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;

}

nav .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.mdi {
    font-size: 36px;
}

.filtro {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.barra {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: solid 1px black;
    background-color: white;
}

.contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contenido .car-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: larger;
}

.contenido .car-container button {
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: 50%;

}

.navigator {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.navigator div {
    font-size: larger;
    color: cornflowerblue;
    padding: 10px;
    border: solid 1px black;
    margin: 1px;
    width: 35px;
    text-align: center;
}

footer {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}